.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: relative;
    z-index: 10;
    padding: 20px;
}

button {
    display: inline-flex;
    align-items: center;
}