@using System.Globalization
@model IEnumerable<ClinicPlus.ViewModels.Consultss.CalendarioConsultaViewModel>

<link rel="stylesheet" href="css/calendar.css"/>
<div>
    <div class="header">
        <div class="left">
            <button class="btn btn-primary" id="prev">Ant</button>
            <button class="btn btn-primary" id="next">Próx</button>
        </div>
        <h1 class="center" id="title">
            
        </h1>
        <div class="right">
            <select id="select">
                <option value="dayGridDay">
                    Dia
                </option>
                <option value="dayGridWeek" selected>
                    Semana
                </option>
                <option value="dayGridMonth">
                    Mês
                </option>
            </select>
        </div>
    </div>
    <div id='calendar'></div>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/ecmascript">
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            header: false,
            defaultView: 'dayGridMonth',
            editable: true,
            locale: 'pt-br',
            defaultDate: Date.now(),
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: '@Url.Action("LoadCalendar","Consultas")',
                    type: 'GET',
                    success: function(response){
                        var events = [];
                        $(response).each(function (){
                            events.push({
                                id: this.id,
                                title: this.eventTitle,
                                start: this.startEvent,
                                end: this.endEvent,
                                color: this.color
                            });
                        });
                        successCallback(events);
                        console.log(events);
                    },
                    error: function () {
                        failureCallback();
                    }
                });
            },
            viewRender: (view) => {
                let date
                switch (view.type) {
                    case 'dayGridDay':
                        date = view.start.format('DD dddd YYYY')
                        break
                    case 'dayGridWeek':
                        date = view.start.format('MMMM')
                        break
                    case 'dayGridMonth':
                        date = view.start.format('MMMM')
                        break
                }
                $('#title').text(view.date);
            },
        });


        calendar.render();
        // Next/Prev buttons
        $("#next").on('click', function() {
            calendar.next('next')
        });
        $("#prev").on('click', function() {
            calendar.prev('prev')
        });

        // Select
        $("#select").on('change', function (event) {
            calendar.changeView(this.value)
        })
    });
</script>
