<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bem vindo ao Clinic Plus</h1>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="info-box shadow-sm">
                <span class="info-box-icon bg-success">
                    <i class="fas fa-user-injured"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Pacientes</span>
                    <span class="info-box-number">@Html.ActionLink("Listagem", "Index", "Pacientes")</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box shadow-sm">
                <span class="info-box-icon bg-warning">
                    <i class="fas fa-user-md"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Médicos</span>
                    <span class="info-box-number">@Html.ActionLink("Listagem", "Index", "Medicos")</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box shadow-sm">
                <span class="info-box-icon bg-primary">
                    <i class="fas fa-notes-medical"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Consultas</span>
                    <span class="info-box-number">@Html.ActionLink("Listagem", "Index", "Consultas")</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box shadow-sm">
                <span class="info-box-icon bg-fuchsia">
                    <i class="fas fa-calendar"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Calendário</span>
                    <span class="info-box-number">@Html.ActionLink("Calendário de consultas", "Calendar", "Consultas")</span>
                </div>
            </div>
        </div>
    </div>
</div>