@model ClinicPlus.ViewModels.Pacientes.UpdatePacienteViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><span class="ml-1 mr-2"><i class="fas fa-user-injured"></i></span>Editar paciente</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <form asp-action="Update">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="Cpf" class="control-label"></label>
                            <input id="crm" asp-for="Cpf" type="text" mask="999.999.999-99" class="form-control w-25" placeholder="Cpf do paciente">
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" type="text" class="form-control w-75" placeholder="Nome completo do paciente">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DataNascimento" class="control-label"></label>
                            <input asp-for="DataNascimento" type="date" class="form-control w-25">
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>
                        <div class="row w-75 justify-content-between">
                            <div class="col-md-6 d-flex flex-column">
                                <div class="form-group">
                                    <label asp-for="Alergias" class="control-label"></label>
                                    <textarea asp-for="Alergias" rows="5" class="form-control" placeholder="Alergias"></textarea>
                                    <span asp-validation-for="Alergias" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex flex-column pr-0 align-self-end">
                                <div class="form-group">
                                    <label asp-for="MedicamentosEmUso" class="control-label"></label>
                                    <textarea asp-for="MedicamentosEmUso" rows="5" class="form-control" placeholder="Medicamentos em uso"></textarea>
                                    <span asp-validation-for="MedicamentosEmUso" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CirurgiasRealizadas" class="control-label"></label>
                            <textarea asp-for="CirurgiasRealizadas" rows="5" class="form-control w-75" placeholder="Cirurgias realizadas"></textarea>
                            <span asp-validation-for="CirurgiasRealizadas" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary w-25">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>